<h1>Last Releases</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
		<%if false && user_signed_in? && current_user.is_admin? %>
    <th>MangaId</th>
		<%end%>
    <th>Manga</th>
    <th>Last release</th>
    <th>Time</th>
	<%if user_signed_in? %>
    <th>Action</th>
	<%end%>
  </tr>

<% @mangas.each do |manga| %>
				<%=render :partial=>"manga", :object=>manga%>
  <% end %>
</table>
<br />
<div class="alert alert-info">Looking for an other manga ? Contact me ! <a href="mailto:ste.luong@gmail.com">ste.luong@gmail.com</a></div>
