<h1>Manga Releases Aggregator</h1>
<hr/>
<div class="row">
<div class="span3" style="width:500px">
<h2>An idea</h2>
<p class="well">Manga Releases Aggregator (MRA) is a simple app that allows you to subscribe to different mangas and to be warned when new releases are posted.</p>
</div>
<div class="span3" style="width:500px">
<h2>Technologies</h2>
<ul class="well">
<li>Ruby On Rails</li>
<li>Node.js</li>
<br/>
<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
</ul>
</div>
<div class="span3" style="width:500px">
<h2>Ressources</h2>
<p class="well">
[Coming soon]
</p>
<ul>
</ul>
</div>
<div class="span3" style="width:500px">
<h2>About Me</h2>
<div class="well">
<p>
My name is <a href="http://www.steven-luong.com">Steven Luong</a>, 
I am a junior IT engineer.
<br/>
<br/>
I've buit this app for 2 reasons : 
<ul>
<li>First, there are too many manga publishers 
and I got bored from visiting each of them; </li>
<li>
Second, I think that it is fun coding 
and it was the best way to learn and practice on ROR & Node.js.
</li>
</ul>
I hope that this app will be as useful for you that it is for me !
</p>
</div>
</div>

</div>
<hr/>
