<h1>Manga Releases Aggregator</h1>
<hr/>
<div class="row">
<div class="span3" style="width:500px">
<h2>An Idea</h2>
<div class="well">
<p>Manga Releases Aggregator (MRA) is 
a simple app that warns you as soon as 
one of your selected mangas is published</p>
</div>
</div>
<div class="span3" style="width:500px">
<h2>Get Started</h2>
<div class="well">
				<p>If you don't have an account yet, go to "Sign up". 
				Create an account with a valid email and a password, 
				then you are ready to go ! </p>
				<p>Go on "Last Releases" and pick up the mangas 
				you want to subscribe to. You will receive an email 
				as soon as a release is published.</p>
				<p>Without an account, you can also directly pick up
				a manga, and read its last release.</p>
				<p>Enjoy!</p>
</div>
</div>
<div class="span3" style="width:500px">
<h2>Technologies</h2>
<ul class="well">
<li>Ruby On Rails</li>
<li>Node.js</li>
<br/>
<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
</ul>
</div>
<div class="span3" style="width:500px">
<h2>Ressources</h2>
<p class="well">
[Coming soon]
</p>
<ul>
</ul>
</div>
<div class="span3" style="width:500px">
<h2>About Me</h2>
<div class="well">
<p>
My name is <a href="http://www.steven-luong.com">Steven Luong</a>, 
I am a junior IT engineer.
<br/>
<br/>
I've buit this app for 2 reasons : 
<ul>
<li>First, there are too many manga publishers 
and I got bored from visiting each of them; </li>
<li>
Second, I think that it is fun coding 
and it was the best way to learn and practice on ROR & Node.js.
</li>
</ul>
I hope that this app will be as useful for you as it is for me !
</p>
</div>
</div>

</div>
<hr/>
