<h1>Subscriptions</h1>

<%if @subscriptions.count != 0%>
<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
    <th>Manga</th>
    <th>Last Release</th>
    <th>Time</th>
    <th>Action</th>
  </tr>

<% @subscriptions.each do |subscription| %>
				<%=render :partial=>"mangas/manga", :object=>subscription.manga%>
<% end %>
</table>


<%else%>
	<div class="alert alert-warning">You have no subscriptions !</div>
<%end%>
<br/>
<%= button_to 'Add Subscriptions', mangas_path, :class=>"btn btn-default", :method=>"get"%>
